*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        111.1deg,
        rgba(69, 150, 164, 1) 2.5%,
        rgba(17, 20, 34, 1) 100.3%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-bottom: 15vh;
}

h1 {
    margin-top: 5vh;
    font-size: 6rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-form {
    margin-top: 3em;
}

#search-form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-input {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--text-color);
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: clamp(200px, 50vw, 400px);
    margin-right: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
}

#search-input:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

#search-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#search-icon {
    color: rgba(255, 255, 255, 0.2);
    width: 25px;
    height: 25px;
    filter: invert(51%) sepia(0%) saturate(2904%) hue-rotate(92deg)
        brightness(105%) contrast(95%);
}

#weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    color: var(--text-color);
    width: 80%;
}

#error {
    position: relative;
    top: 10px;
    color: #fc9792;
    font-size: 1rem;
}

#message {
    color: #fc9792;
    font-size: 1.2rem;
}

#loader {
    border: 16px solid rgba(255, 255, 255, 0.1);
    border-top: 16px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*CurrentCard*/

.currentCard {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    border-radius: clamp(5px, 5vw, 10px);
    padding: clamp(1em, 10vw, 2em) clamp(3rem, 5vw, 5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.currentCard:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dayIcon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
        brightness(102%) contrast(102%);
}

.textGroup {
    grid-column: 2/4;
}

.wrapper {
    display: flex;
    gap: clamp(2em, 5vw, 3em);
}

.tempRangeWrapper {
    display: grid;
    grid-column: 5/7;
    grid-template-columns: repeat(2, 1fr);
}

.dayTemp {
    text-align: center;
    font-size: 4rem;
    grid-column: 1 / 3;
}
.dayMinTemp {
    margin-left: 0;
}
.dayMaxTemp {
    margin-right: 0;
}
.location {
    font-size: 2rem;
    margin-bottom: 0.2em;
}
.dayDescription {
    max-width: 250px;
}
/*ForeCast*/

.forecastCard {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    border-radius: clamp(5px, 5vw, 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.forecastCard:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dayTempMini {
    font-size: 1.5rem;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
}

.dayList {
    margin-top: 2em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(1em, 5vw, 2em);
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 1400px) {
    h1 {
        margin-top: 15vh;
    }

    .dayList {
        grid-template-columns: repeat(4, 1fr);
    }
}
